Repository mgmonteleone/python-atlasapi, pull requests merged in 2022-08, with the labels that each got.

#120 Add FEDERATED_DATABASE events
  atlasapi/events_event_types.py
Labels: Events

#118 fix(settings): allow `URI_STUB` to be set in the environment to set its value on-the-fly
  atlasapi/__init__.py
  atlasapi/settings.py
  setup.py
Labels: Breaking

#124 121 reimplement hosts endpoints with new network stack
  atlasapi/__init__.py
  atlasapi/atlas.py
  atlasapi/events_event_types.py
  atlasapi/network.py
  atlasapi/settings.py
  atlasapi/specs.py
  setup.py
  tests/monitoring_logs.py
  tests/test_events.py
  tests/test_monitoring.py
Labels: Measurements and Logs, Breaking, Tests
